@using NssCorporateUmbraco.Code.GatherContent
@using NssCorporateUmbraco.Code.GatherContent.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<link href="/content/telestrap/css/bootstrap-theme.css" rel="stylesheet">
@{
    Layout = null;

    var gatherContentProjectId = 0;
    var startPageId = 0;

    int.TryParse(Request["GatherContentProjectId"], out gatherContentProjectId);
    int.TryParse(Request["StartPageId"], out startPageId);

    IList<MappedPageContent> pages = null;

    if (gatherContentProjectId > 0 && startPageId > 0)
    {
        pages = ImportPages.CreatePages(gatherContentProjectId.ToString(), startPageId);
    }

}
<div class="container">
    <h1>Import Page Structure from Gather Content</h1>
    @if (gatherContentProjectId == 0 && startPageId == 0)
    {
        <form>

            <table>
                <tr>
                    <td>Gather Content Project Id: <br /><i>55308</i></td>
                    <td><input type="text" name="GatherContentProjectId" class="form-control" /></td>
                </tr>
                <tr><td colspan="2">&nbsp;</td></tr>
                <tr>
                    <td>Start Page Id: <br /><i>1048</i></td>
                    <td><input type="text" name="StartPageId" class="form-control" /></td>
                </tr>
                <tr><td colspan="2">&nbsp;</td></tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" text="Import" class="btn btn-lg btn-success" /></td>
                </tr>
            </table>
        </form>
    }
    else
    {
        <div class="page-header">
            <h2>Import Complete</h2>
        </div>

        if (pages != null)
        {
            foreach (var item in pages)
            {
                @item.Name
                <i>(@item.GatherContentId)</i>
                <br />

                foreach (var subitem in item.Children)
                {
                    <text>1---</text>
                    @subitem.Name
                    <i>(@subitem.GatherContentId)</i>
                    <br />

                    foreach (var subsubitem in subitem.Children)
                    {
                        <text>2-------</text>
                        @subsubitem.Name
                        <i>(@subsubitem.GatherContentId)</i>
                        <br />

                        foreach (var subsubsubitem in subsubitem.Children)
                        {
                            <text>3---------------</text>
                            @subsubsubitem.Name
                            <i>(@subsubsubitem.GatherContentId)</i>
                            <br />

                            foreach (var subsubsubsubitem in subsubsubitem.Children)
                            {
                                <text>4------------------------------</text>
                                @subsubsubsubitem.Name
                                <i>(@subsubsubsubitem.GatherContentId)</i>
                                <br />
                            }
                        }
                    }
                }
            }
        }
    }
</div>